<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barrier-free Map</title>
    <link rel="stylesheet" href="/stylesheet/test.css" />
    <script language="JavaScript">
      
    </script>
  </head>
  <body>
    


    <% for(var i in content) { %>
      <table class="table">
      <tr>
        <% var obj = content[i]; %>
        <th class="name">◆<%= obj.name %></th>
        <td class="type">種類：<%= obj.type %></td>
        <% 
          let lon = obj.lonlat.substr(0, obj.lonlat.indexOf(','));
          let lat = obj.lonlat.substr(obj.lonlat.indexOf(',') + 1);
        %>
        <td class="lonlat"><%= lon %></td>
        <td class="lonlat"><%= lat %></td>
        <td class="lonlat"><%= obj.lonlat %></td>
        <td class="url">URL：<%= obj.url %></td>
      </tr>
      </table>
    <% } %>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp?key=AIzaSyA7ovNmsXnrwRBWSj8E7fVC8_jRqZ9ROlw&callback=initMap">
    </script>
</body>
</html>